# Python bytecode
__pycache__

# Build artifacts
docs/sphinx/build/doctrees
docs/sphinx/build/html/*
# Coverage reports
.coverage*


# The config file of the user
data/uberdot.ini

# Everything in the subdirectories beside the .gitkeep files
data/installed/*
!data/installed/.gitkeep
**/data/decrypted/*
!data/decrypted/.gitkeep
**/data/merged/*
!data/merged/.gitkeep
**/data/piped/*
!data/piped/.gitkeep
